<div fxLayout="column" fxLayoutAlign=" center">
    <form [formGroup]="botForm">
      <div>
      <mat-form-field appearance="outline">
        <mat-label>Application Name</mat-label>
        <input matInput placeholder="Application name" autocomplete="off" formControlName="applicationName">
      </mat-form-field>
    </div>
      <div>
      <mat-form-field appearance="outline">
        <mat-label>Tags</mat-label>
        <input matInput placeholder="Tags" autocomplete="off" formControlName="tag">
      </mat-form-field>
    </div>
    <div>
      
      <mat-form-field appearance="outline">
        <mat-label>Patterns</mat-label>
        <input matInput placeholder="Patterns" autocomplete="off" formControlName="pattern">
      </mat-form-field>
      <button mat-raised-button color="primary" class="add-btn" (click)="updateValuePatternValue()">Add</button>
    </div>
    <div class="chips-box" *ngIf="patternValue.length>0">
      <mat-chip-list aria-label="pattern selection">
        <mat-chip *ngFor="let items of patternValue" color="primary">{{items}}</mat-chip>
      </mat-chip-list>
      <button mat-raised-button class="clear-all" color="accent" (click)="clearValue('pattern')">Clear All</button>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Response</mat-label>
        <input matInput placeholder="Response" autocomplete="off" formControlName="responseText">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Help Link</mat-label>
        <input matInput placeholder="Help Link" autocomplete="off" formControlName="helpLink">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>ApiComputeUrlAndHelpLink</mat-label>
        <input matInput placeholder="ApiComputeUrlAndHelpLink" autocomplete="off" formControlName="apiComputeUrlAndHelpLink">
      </mat-form-field>
      <button mat-raised-button color="primary"  class="add-btn" (click)="updateValueResponseValue()">Add</button>
    </div>
    <div class="chips-box" *ngIf="responseValue.length>0">
      <mat-chip-list aria-label="pattern selection" *ngFor="let items of responseValue">
        <mat-chip  color="primary">{{items.responseText}}</mat-chip>
        <mat-chip color="warn" *ngIf="items.helpLink">{{items.helpLink}}</mat-chip>
        <mat-chip  color="accent" *ngIf="items.apiComputeUrlAndHelpLink">{{items.apiComputeUrlAndHelpLink}}</mat-chip>
      </mat-chip-list>
      <button mat-raised-button class="clear-all" color="accent" (click)="clearValue('response')">Clear All</button>
    </div>
    <button mat-raised-button color="primary" (click)="submitForm()">{{editForm? 'Update':'Save'}}</button>
    <button mat-raised-button color="warn" class="cancel-btn" *ngIf="!editForm" (click)="clearForm()">Cancel</button>
    <button mat-raised-button color="accent" class="cancel-btn" (click)="backTolist()">Back to home</button>
    </form>
    </div>